@{
    // specifico quale layout dovra essere utilizzato per questa vista
    Layout = "_Layout";
    // Titolo personalizzato di questa vista
    ViewData["Title"] = "Home";
}

@section Styles {
    <!-- Indico il foglio di style css personalizzato per questa vista -->
    <link rel="stylesheet" href="~/css/HomeIndexStyle.css" />
}


<div class="container">
    <h1 class="text-center py-3">Benvenuti nella Home Page</h1>
</div>
