@{
    // specifico quale layout dovra essere utilizzato per questa vista
    Layout = "_Layout";
    // Titolo personalizzato di questa vista
    ViewData["Title"] = "Le Foto";
}

<div class="text-center py-5">
    <h1>Pagina Foto</h1>
</div>